.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    color: white;
}

.logo-footer{
    width: 40vh;
    filter: invert(1)
}

.red-footer{
    width: 35px;
    margin-right: 10px;
}

.red{
    display: flex;
    justify-content: center;
}