.header{
    background-color: black;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 10vh;
    text-align: center;
    color: white;
    align-content: center;
    padding-left: 1vh;
    padding-right: 1vh;
}

.titulo{
    font-size: x-large;
    color: white;
    text-decoration: none;
}

.logo-menu{
    width: 30px;

    position: relative;
    display: inline-block;
}

.header-menu{
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
    width: fit-content;
    padding-right: 15px ;
    padding-bottom: 15px;
    list-style: none;
}

.header-option{
    font-size: x-large;
    display: inline-block;
    position: relative;
}


.logo-menu:hover{
    background-color: #ff914d;
}
    
.logo-menu:hover ~ .header-menu{
        display: block;
}